---
# Install Nushell
- name: Set Nushell version
  set_fact:
    nushell_version: "0.109.1"

- name: Create install directories
  file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ ansible_env.HOME }}/.local/bin"
    - "{{ ansible_env.HOME }}/.local/opt/nushell"

- name: Check if Nushell is already installed
  stat:
    path: "{{ ansible_env.HOME }}/.local/opt/nushell/nu-{{ nushell_version }}"
  register: nushell_installed

- name: Download and Unarchive Nushell
  unarchive:
    src: "https://github.com/nushell/nushell/releases/download/{{ nushell_version }}/nu-{{ nushell_version }}-x86_64-unknown-linux-musl.tar.gz"
    dest: "{{ ansible_env.HOME }}/.local/opt/nushell"
    remote_src: yes
    creates: "{{ ansible_env.HOME }}/.local/opt/nushell/nu-{{ nushell_version }}-x86_64-unknown-linux-musl/nu"
  when: not nushell_installed.stat.exists

- name: Move Nushell binary to versioned path (for cleanliness if needed, skipping for direct symlink)
  # The unarchive creates a directory like nu-0.109.1-x86_64-unknown-linux-musl
  # We can just symlink from there.
  meta: noop

- name: Symlink Nushell binary
  file:
    src: "{{ ansible_env.HOME }}/.local/opt/nushell/nu-{{ nushell_version }}-x86_64-unknown-linux-musl/nu"
    dest: "{{ ansible_env.HOME }}/.local/bin/nu"
    state: link
    force: yes
