---
- name: Deploy Self-Hosted Stack
  hosts: all
  become: true
  vars:
    ansible_python_interpreter: /usr/bin/python3
  roles:
    - role: common
    - role: tailscale
    - role: docker
    - role: hashicorp
    - role: nomad_jobs
