version: '3.8'

services:
  app:
    build: .
    image: perplexity-researcher
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
      - ./entrypoint.sh:/entrypoint.sh
    ports:
      - "5900:5900"
    entrypoint: ["/entrypoint.sh"]
    environment:
      - DISPLAY=:99
      # Playwright specific
      - DEBUG=pw:api
    # IPC host needed for some X11 setups
    ipc: host
    # User mapping to avoid permission issues on Linux
    user: "${UID:-1000}:${GID:-1000}"
