version: '3.8'

services:
  chromium:
    build: ./browser
    ports:
      - "5900:5900"
      - "3001:3000"
    ipc: host
    restart: unless-stopped

  perplexity-server:
    build: .
    image: perplexity-researcher:latest
    container_name: perplexity-server
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/data
      - ${HOME}/.config/perplexity-researcher:/app/config
    environment:
      - PORT=3000
      # - BROWSER_WS_ENDPOINT=ws://chromium:3000/ws # We now run locally in the container
      - PERPLEXITY_USER_DATA_DIR=/app/config/user-data
    depends_on:
      - chromium
    restart: unless-stopped


