---
- name: Install common packages
  ansible.builtin.apt:
    name:
      - curl
      - wget
      - vim
      - git
      - unzip
      - ufw
      - fail2ban
      - jq
      - qemu-user-static
      - binfmt-support
    state: present
    update_cache: yes

- name: Detect Public IP (if not set)
  ansible.builtin.uri:
    url: https://api.ipify.org
    return_content: yes
  register: ipify_result
  when: public_ip is not defined

- name: Set public_ip fact
  ansible.builtin.set_fact:
    public_ip: "{{ ipify_result.content }}"
  when: public_ip is not defined and ipify_result.status == 200

- name: Display Public IP
  ansible.builtin.debug:
    msg: "Detected Public IP: {{ public_ip }}"

- name: Setup UFW
  community.general.ufw:
    state: enabled
    policy: deny
    direction: incoming

- name: Allow SSH
  community.general.ufw:
    rule: allow
    name: OpenSSH

- name: Allow HTTP
  community.general.ufw:
    rule: allow
    port: '80'
    proto: tcp

- name: Allow HTTPS
  community.general.ufw:
    rule: allow
    port: '443'
    proto: tcp
