job "rsrch-browser" {
  datacenters = ["{{ nomad_datacenter | default("dc1") }}"]
  type        = "service"

  # This job can be stopped when not needed
  # Use: nomad job stop rsrch-browser
  # Start: nomad job run rsrch-browser.nomad.hcl

  group "browser" {
    count = 1

    network {
      mode = "host"
      port "cdp" {
        static = 9223
      }
    }


    constraint {
      attribute = "${node.class}"
      value     = "cloud"
    }

    task "chromium" {
      driver = "docker"

      config {
        # Use browserless/chrome which has proper VNC and CDP support
        image = "browserless/chrome:latest"
        
        # Use host networking for direct port access
        network_mode = "host"
        
        # Docker bind mount for persistent Chrome profile
        volumes = [
          "/opt/rsrch/profiles/default:/app/user-data"
        ]
      }

      env {
        # Port for browserless to listen on
        PORT = "9223"
        # Enable CDP
        CONNECTION_TIMEOUT = "600000"
        MAX_CONCURRENT_SESSIONS = "5"
        ENABLE_DEBUGGER = "true"
        # User data directory for persistence
        CHROME_REFRESH_TIME = "0"
        DEFAULT_USER_DATA_DIR = "/app/user-data"
      }

      resources {
        cpu    = 1000
        memory = 2048
      }

      service {
        name = "rsrch-browser"
        port = "cdp"
        
        tags = [
          "browser",
          "rsrch"
        ]
        
        check {
          name     = "cdp-health"
          type     = "http"
          path     = "/json/version"
          interval = "10s"
          timeout  = "5s"
        }
      }
    }
  }
}
