tenancy_ocid     = "ocid1.tenancy.oc1..aaaa..."
user_ocid        = "ocid1.user.oc1..aaaa..."
fingerprint      = "12:34:56:..."
private_key_path = "~/.oci/oci_api_key.pem"
region           = "eu-frankfurt-1"
compartment_ocid = "ocid1.compartment.oc1..aaaa..."
availability_domain = "Xyz:EU-FRANKFURT-1-AD-1"
ssh_public_key   = "ssh-rsa AAAA..."
